* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

header {
  background: #eeeff1;
  height: 70rem;
}

.container {
  width: 117rem;

  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav {
  margin-top: 5.7rem;
}

.logo_link {
  margin-top: 5.7rem;
}

.nav_menu {
  display: flex;
}

.nav_item {
  margin-left: 4.2rem;
}

.nav_item:first-child {
  margin-left: 0;
}

.nav_link {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.logoImg {
  width: 96px;
}

.mainTitlePhoto {
  width: 36rem;
}

.row_header {
  height: 80%;
  width: 100%;
  margin-top: 15.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
}

.mainTitleText {
  margin-left: 14rem;
}

.h1TitleInfo {
  font-size: 4.8rem;
  margin-bottom: 6rem;
  font-weight: 500;
  line-height: 7.8rem;
}

.spanTitleInfo {
  display: block;
  font-size: 16px;
  width: 54rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.btn_send {
  margin-top: 6rem;
  padding: 2.1rem 4.5rem;
  background: #34547a;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  line-height: 2.6rem;
}

.section_about {
  height: 36.6rem;
}

.h2AboutMe {
  font-size: 3.6rem;
  text-align: center;
  padding-top: 11.9rem;
}

.spanTextAbout {
  display: block;
  margin-top: 6rem;
  text-align: center;
  color: #727272;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
}

.section_aboutProjects {
  height: 25rem;
  background: #34547a;
}

.row_aboutProjects {
  justify-content: center;
  align-items: center;
}

.iconProjects {
  width: 5rem;
}

.infoProjects {
  margin-left: 5.2rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
}

.infoProjects:first-child {
  margin-left: 0;
}

.textInfo_about {
  margin-left: 2.5rem;
}

.h2ProjectsNumber {
  font-size: 2.1rem;
  color: #fff;
  font-weight: 500;
  line-height: 2.5rem;
}

.spanProjectsNames {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.6rem;
}

.section_aboutMe {
  height: 65.3rem;
}

.h2MySkills {
  margin-top: 20.4rem;
  font-size: 3.2rem;
  font-weight: 500;
}

.row_AboutMe {
  display: flex;
}

.imgMe {
  margin-top: 12.2rem;
  margin-left: 15rem;
}

.line_Progress {
  display: flex;
}

.line {
  display: block;
  width: 35rem;
  height: 0.4rem;
  background: #34547a;
}

.lineProgress {
  width: 9.5rem;
  height: 0.4rem;
  background: #c4c4c4;
}

.spanSkillName {
  display: block;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #727272;
}

.section_howWorkVideo {
  height: 100.4rem;
  background: #eeeff1;
}

.h2Work {
  text-align: center;
  font-size: 3.2rem;
  padding-top: 10rem;
}

.spanhowWork {
  display: block;
  text-align: center;
  padding-top: 5rem;
  width: 54rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
}

.video {
  margin-top: 5.7rem;
  width: 1110px;
  height: 600px;
  background: url(../images/preload.jpg);
}

.section_projectsInfo {
  height: 95rem;
}

.projects_links {
  margin-top: 2.8rem;
  display: flex;
  flex-wrap: wrap;
}

.img_link {
  display: block;
  width: 47.55rem;
  height: 36rem;
}

.container_partners {
  margin-top: 7.2rem;
}

.imgPartners {
  width: 25.5rem;
}

.imgPartners {
  margin-left: 3rem;
}

.imgPartners:first-child {
  margin-left: 0;
}

.section_contact {
  height: 76.2rem;
  background: #eeeff1;
}

.h2Contact {
  font-size: 3.1rem;
  font-weight: 400;
  text-align: center;
  padding-top: 10rem;
}

.span_contactInfo {
  padding-top: 5rem;
  text-align: center;
  display: block;
  width: 54rem;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 26.25px;
  color: #727272;
}

.input2Form {
  margin-top: 6.5rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 48rem;
}

.inputName {
  display: block;
  padding-top: 1.7rem;
  padding-bottom: 1.8rem;
  padding-left: 2rem;
  width: 25.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  outline: none;
}

.inputName::placeholder {
  font-weight: 400;
  color: #5f5d5d;
}

.inputEmail {
  margin-left: 3rem;
}

.textarea {
  outline: none;
  margin-top: 2rem;
  display: block;
  width: 48rem;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  height: 17.5rem;
  padding-top: 1.7rem;
  padding-left: 2rem;
  cursor: pointer;
}

.btn_sendInfo {
  width: 19rem;
  display: block;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1.9rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: #34547a;
  color: #fff;
  font-size: 1.4rem;
}

.row_footer {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.blockSocial {
  height: 15.1rem;
  display: flex;
}

footer {
  background: #34547a;
  height: 15.1rem;
}

.info_about {
  margin-top: 5rem;
  color: #fff;
}

.link_footer {
  display: block;
  margin-top: 6rem;
  margin-left: 2.3rem;
}

.h3NameFooter {
  font-size: 2.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.spanInfoFooter {
  font-size: 1.3rem;
}
